<appSettings>
  <add key="connStr" value="default" />
  <add key="FeedbackEmailFrom" value="info@giqci.com" />
  <add key="FeedbackEmailSubject" value="Giqci用户反馈" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>