<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <appSettings xdt:Transform="Replace">
    <add key="AdminEmail" value="info@giqci.com" />
    <add key="Host" value="http://www.giqci.com.au/" />
    <add key="AdminWebUrl" value="http://admin.giqci.com.au/" />
    <add key="ViewFileUrl" value="http://file.giqci.com.au/view/" />
    <add key="CertFileSavePath" value="Files/certs" />
    <add key="NoReplyEmail" value="info@giqci.com" />
    <add key="FeedbackEmailSubject" value="Giqci用户反馈" />
    <add key="RegMerchantEmailSubject" value="Giqci用户认证" />
    <add key="ForgotPasswordEmailSubject" value="Giqci密码找回" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="UserExampleFilePath" value="Files/ExampleCertFiles" />
    <add key="aspnet:MaxJsonDeserializerMembers" value="150000" />
    <add key="DictApiUrl" value="http://chapi.giqci.com.au/dict/v1/"/>
    <add key="ProdApiUrl" value="http://chapi.giqci.com.au/prod/v1/"/>
    <add key="CustApiUrl" value="http://chapi.giqci.com.au/cust/v1/"/>
    <add key="LogApiUrl" value="http://chapi.giqci.com.au/log/v1/"/>
    <add key="AppApiUrl" value="http://chapi.giqci.com.au/app/v1/"/>
    <add key="FileApiUrl" value="http://file.giqci.com.au"/>
    <add key="DictLogSwitch" value="0" />
    <add key="ProductsLogSwitch" value="0" />
    <add key="CustomersLogSwitch" value="0" />
    <add key="AppLogSwitch" value="0" />
    <add key="FileLogSwitch" value="0" />
    <add key="AppCacheLogSwitch" value="0" />
    <add key="AllowTypeList" value="jpge|jpg|pdf" />
    <add key="FileMaxLength" value="5242880" />
  </appSettings>
</configuration>



