@using Newtonsoft.Json
@model Giqci.PublicWeb.Models.Application.ApplicationPageModel
@{
    ViewBag.Title = "证书申请表格";
}
@section Header
{
    <style type="text/css">
        input[type="date"] {
            /*width: 180px;*/
        }

        .goodsItems th {
            width: 15%;
        }

        .goodsItems td {
            width: 35%;
        }
    </style>
    <link href="~/Global/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <script src="~/Global/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Global/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <script type="text/javascript">
        var app = angular.module("giqci", []);
        function getDate(str) {
            return str ? new Date(str) : null;
        }

        app.controller("GlobalController", [
            '$http', '$scope', '$log', '$location', '$anchorScroll','$timeout','$filter', function($http, $scope, $log, $location, $anchorScroll, $timeout, $filter) {
                $scope.model = @Html.Raw(JsonConvert.SerializeObject(Model));
                $scope.model.Application.Id = @ViewBag.id;
                //$scope.model.Application.InspectionDate = getDate($scope.model.Application.InspectionDate);
                $scope.model.Application.InspectionDate = $filter('date')($scope.model.Application.InspectionDate,'yyyy/MM/dd');
                for (var i = 0; i < $scope.model.Application.Goods.length; i++) {
                    //$scope.model.Application.Goods[i].ManufacturerDate = getDate($scope.model.Application.Goods[i].ManufacturerDate);
                    //$scope.model.Application.Goods[i].ExpiryDate = getDate($scope.model.Application.Goods[i].ExpiryDate);
                    $scope.model.Application.Goods[i].ManufacturerDate = $filter('date')($scope.model.Application.Goods[i].ManufacturerDate,'yyyy/MM/dd');
                    $scope.model.Application.Goods[i].ExpiryDate = $filter('date')($scope.model.Application.Goods[i].ExpiryDate,'yyyy/MM/dd');
                }
                $scope.errors = [];
                if($scope.model.Application.Id > 0){
                    $scope.acceptshow  = false;
                    $scope.appshow = true;
                }else{
                    $scope.acceptshow  = true;
                    $scope.appshow = false;
                }
                $scope.model.Application.ShippingMethod = 'A';

                $(function(){
                    $('.datetimepicker').datetimepicker({
                        language:  'zh-CN',
                        format: 'yyyy/mm/dd',
                        autoclose: true,
                        minView: "month",
                        todayBtn: true,
                    }).on("hide",function(){
                        var $this = $(this);
                        var _this = this;
                        $scope.$apply(function(){
                            $scope[$this.attr('ng-model')] = _this.value;
                        });
                    });
                });

                $scope.additem = function() {
                    $scope.model.Application.Goods.push({ ManufacturerCountry: "036", ManufacturerDate: null, ExpiryDate: null, C102: null, C102Comment: null });
                    $log.log($scope.model);
                };
                $scope.removeitem = function(index) {
                    $scope.model.Application.Goods.splice(index, 1);
                    $log.log($scope.model);
                };
                $scope.itemClickHandler = function(event) {
                    var currentElement = event.target;
                    console.log(currentElement);
                    $(currentElement).datetimepicker({
                        language:  'zh-CN',
                        format: 'yyyy/mm/dd',
                        autoclose: true,
                        minView: "month",
                        todayBtn: true,
                    }).on("hide",function(){
                        var $this = $(this);
                        var _this = this;
                        $scope.$apply(function(){
                            $scope[$this.attr('ng-model')] = _this.value;
                        });
                    });
                };
                $scope.accept = function () {
                    $scope.acceptshow = false;
                    $scope.appshow = true;
                };

                $scope.check_type_c102 = function(){
                    if($scope.model.Application.C102){
                        $scope.show_c_102 = true;
                    }else{
                        $scope.show_c_102 = false;
                    }
                };
                $scope.check_type_c102();

                $scope.submit = function() {
                    for (var i = 0; i < $scope.model.Application.Goods.length; i++) {
                        $scope.model.Application.Goods[i].Index = i;
                        $scope.model.Application.Goods[i].ManufacturerDate = getDate($scope.model.Application.Goods[i].ManufacturerDate);
                        $scope.model.Application.Goods[i].ExpiryDate = getDate($scope.model.Application.Goods[i].ExpiryDate);
                        if(!$scope.show_c_102){
                            $scope.model.Application.Goods[i].C102 = false;
                            $scope.model.Application.Goods[i].C102Comment = "";
                        }
                    }
                    console.log($scope.model.Application);
                    $http.post('/forms/app', $scope.model.Application,$scope.model.Application.Id)
                        .then(function(response) {
                            $log.log(response);
                            if (response.data.appNo && response.data.id ==0) {
                                $scope.resultMessage = "证书申请成功！申请编号为"+response.data.appNo;
                            }else if(!response.data.appNo && response.data.id > 0){
                                $scope.resultMessage = "数据更新成功";
                            } else {
                                $scope.errors = response.data.errors;
                                $location.hash("h1");
                                $anchorScroll();
                            }
                        }, function(response) {
                            $log.warn(response);
                        });
                };
                $scope.unit = "Pallets";
                $scope.check_A = function(){
                    $scope.unit = "Pallets";
                };
                $scope.check_O = function(){
                    $scope.unit = "Containers";
                };

                $scope.updateClock = function(){
                    $http.post('/api/account/heartbeat').then(function(){});
                };
                setInterval(function(){
                    $scope.$apply($scope.updateClock);
                },300000);

                $scope.updateClock();
            }
        ]);
    </script>
}

<div ng-controller="GlobalController">
    <div ng-show="acceptshow">
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="termblock">
                        <h5>委托检验申请单/协议书合同条款</h5>
                        <p>
                            一、环球质量检验公正有限公司（以下简称检验方）接受委托方书面检验委托。委托检
                            验申请单（以下简称委托单）作为本协议的附件。本协议以委托方代表人在委托单上签
                            名盖章，检验方加盖受理骑缝章后生效。<br />
                            1,Global Independent QC and Inspection Pty Ltd (GIQCI) operate inspection(s) in accordance
                            with a written delegation agreement, to which an application form is attached. The agreement
                            shall become effective upon the signature and seal from the entrusting party, together with the
                            seal on the perforation from GIQCI.
                        </p>
                        <p>
                            二、委托方应如实填写委托单，如有必要，还应根据检验方的要求提供必要的单据及相
                            关资料。<br />
                            2,The details in application form shall be filled carefully. Additional documents and information
                            may be required.
                        </p>
                        <p>
                            三、检验方按委托方在委托单上填明的检验要求进行检验，并出具检验报告。<br />
                            3,GIQCI give report in accordance with the application form, on which details shall be filled by
                            the entrusting party.
                        </p>
                        <p>
                            四、委托方必须注明要求使用的检验方法。<br />
                            4,The inspection method(s) shall be specified by the entrusting party.
                        </p>
                        <p>
                            五、检验方的检验时间根据检验内容而定，原则上以检验方公布的时间为准，特殊情况
                            双方协商确定，并在委托单上注明。<br />
                            5,The length of inspection period is made according to the inspection subject, which shall be
                            published by GIQCI. For special cases, the inspection period shall be negotiated by both parties
                            and noted on the application form.
                        </p>
                        <p>
                            六、检验方检验收费按有关规定计价。对于批量样品如需减免检验费用的，委托方应在
                            委托时与检验方协商确定，并在委托单上“备注”栏内注明。要求加急服务的，需支付加急
                            费。<br />
                            6,Fees will be charged. Waiver can be applied for bulk samples, which shall be negotiated by
                            both parties and noted on the application form. For express service, an additional charge will be
                            applied.
                        </p>
                        <p>
                            七、检验方接受委托方自送样品的检验，检验报告仅对样品负责。<br />
                            7,The inspection report is issued based on the sample(s) offered from the entrusting party.
                        </p>
                        <p>
                            八、检验方在接受委托时，须详细审核委托单内容。在确认委托方的委托及要求后，应
                            填写委托单同一页上的领证凭条交付委托方，委托人凭此查询及索取检验报告。<br />
                            8,Details on the application form shall be confirmed by GIQCI. The collection slip shall be kept
                            by the entrusting party to make inquiry and collect inspection report.
                        </p>
                        <p>
                            九、检验方的检验报告有固定的格式，并仅提供唯一正本。如对检验报告有特殊要求，
                            委托方应在委托单上“备注”栏内注明。<br />
                            9,Only one formal report shall be available, which has fixed format. Special requirements need
                            to be noted by the entrusting party.
                        </p>
                        <p>
                            十、请确保上述资料填写正确，报告完成后如需修改报告内容，将收取报告修改费<br />
                            10,Please ensure the accuracy of the information. Revision fee will be
                            charged after report issuance.
                        </p>
                        <p>
                            十一、委托方如对检验结果有异议的，须在一个月内凭检验证书原件向检验方要求复检，
                            检验方应在三日内给予答复。如同意复检，检验方应于十日内安排。<br />
                            11,After the report is issued, review can be applied within one month, if the entrusting party
                            objects to the inspection result. GIQCI shall give reply within three days. If GIQCI agree to carry
                            out a review, a new inspection shall be given in then days.
                        </p>
                        <p>
                            十二、复检结果维持原检验结果的，委托方须按规定向检验方支付复检费。复检结果确
                            认原检验结果有误的，检验方不再收取复检费。<br />
                            12,If the outcome remains unchanged, review fee will be charged. Otherwise, no fee occurs.
                        </p>
                        <p>
                            十三、委托方对复检结果仍有异议，双方协商不成时，应与检验方书面协议，委托仲裁
                            机构仲裁。<br />
                            13,In case the entrusting party disagrees with the review result, the entrusting party shall make
                            written agreement with GIQCI to send claim to arbitration.
                        </p>
                        <p>
                            十四、委托方对本协议及委托单有不明之处，应在填写委托单时，向检验方工作人员咨
                            询。协议自填单之日起生效。<br />
                            14,Please fill up the application form carefully with the relevant and required details. Assistance
                            is available from GIQCI.
                        </p>
                        <p>
                            十五、此表信息可能在实验室评审过程中被评审机构接触。<br />
                            15,Information of the application form may be reviewed by the accredit organization.
                        </p>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-5 col-sm-4">
                    <button class="btn btn-default" ng-click="accept()">
                        <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> 我接受以上合同条款
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div ng-show="appshow">
        <h1 ng-show="resultMessage">{{resultMessage}}</h1>
        <div ng-show="!resultMessage">
            <h1 id="h1">证书申请表格</h1>
            <div class="has-error" ng-show="errors.length > 0">
                <ul class="help-block">
                    <li ng-repeat="err in errors">{{err}}</li>
                </ul>
            </div>
            <div>* 带星号的为必填项</div>
            <form name="appform" class="form-horizontal" method="POST" novalidate>
                <div class="form-group">
                    <label class="col-sm-2 control-label">证书类别 *</label>
                    <div class="col-sm-10">
                        <div class="checkbox">
                            <label><input type="checkbox" name="Application.C101" ng-model="model.Application.C101" /> 溯源证书</label>
                            <label><input type="checkbox" name="Application.C102" ng-model="model.Application.C102" ng-click="check_type_c102()" /> 品质证书</label>
                            <label><input type="checkbox" name="Application.C103" ng-model="model.Application.C103" /> 标签证书</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">商业目的 *</label>
                    <div class="col-sm-10">
                        <div class="radio">
                            <label><input type="radio" name="Application.TradeType" ng-model="model.Application.TradeType" value="T" /> 一般贸易</label>
                            <label><input type="radio" name="Application.TradeType" ng-model="model.Application.TradeType" value="C" /> 电商贸易</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">申请企业备案号</label>
                    <div class="col-sm-10">
                        <p class="form-control-static"><input type="hidden" name="Application.ApplicantCode" ng-model="model.Application.ApplicantCode" />{{model.Application.ApplicantCode}}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">申请人</label>
                    <div class="col-sm-10">
                        <input type="text" name="Application.Applicant" ng-model="model.Application.Applicant" class="form-control" placeholder="全称" />
                        <input type="text" name="Application.ApplicantAddr" ng-model="model.Application.ApplicantAddr" class="form-control" placeholder="地址" />
                        <input type="text" name="Application.ApplicantContact" ng-model="model.Application.ApplicantContact" class="form-control" placeholder="联系人" />
                        <input type="text" name="Application.ApplicantPhone" ng-model="model.Application.ApplicantPhone" class="form-control" placeholder="联系电话" />
                        <input type="text" name="Application.ApplicantEmail" ng-model="model.Application.ApplicantEmail" class="form-control" placeholder="邮箱" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">出口商</label>
                    <div class="col-sm-10">
                        <input type="text" name="Application.Exporter" ng-model="model.Application.Exporter" class="form-control" placeholder="全称" />
                        <input type="text" name="Application.ExporterAddr" ng-model="model.Application.ExporterAddr" class="form-control" placeholder="地址" />
                        <input type="text" name="Application.ExporterContact" ng-model="model.Application.ExporterContact" class="form-control" placeholder="联系人" />
                        <input type="text" name="Application.ExporterPhone" ng-model="model.Application.ExporterPhone" class="form-control" placeholder="联系电话" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">进口商</label>
                    <div class="col-sm-10">
                        <input type="text" name="Application.Importer" ng-model="model.Application.Importer" class="form-control" placeholder="全称" />
                        <input type="text" name="Application.ImporterAddr" ng-model="model.Application.ImporterAddr" class="form-control" placeholder="地址" />
                        <input type="text" name="Application.ImporterContact" ng-model="model.Application.ImporterContact" class="form-control" placeholder="联系人" />
                        <input type="text" name="Application.ImporterPhone" ng-model="model.Application.ImporterPhone" class="form-control" placeholder="联系电话" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">进口商代理</label>
                    <div class="col-sm-10">
                        <input type="text" name="Application.ImBroker" ng-model="model.Application.ImBroker" class="form-control" placeholder="全称" />
                        <input type="text" name="Application.ImBrokerAddr" ng-model="model.Application.ImBrokerAddr" class="form-control" placeholder="地址" />
                        <input type="text" name="Application.ImBrokerContact" ng-model="model.Application.ImBrokerContact" class="form-control" placeholder="联系人" />
                        <input type="text" name="Application.ImBrokerPhone" ng-model="model.Application.ImBrokerPhone" class="form-control" placeholder="联系电话" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">商品资料</label>
                    <div class="col-sm-10">
                        <div ng-repeat="item in model.Application.Goods">
                            <table class="table table-striped goodsItems">
                                <tr>
                                    <th>商品 {{$index+1}}</th>
                                    <td colspan="3"><button type="button" ng-click="removeitem($index)"><span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span> 删除</button></td>
                                </tr>
                                <tr>
                                    <th>名称(英文) *</th>
                                    <td><input type="text" ng-model="item.DescriptionEn" class="form-control" /></td>
                                    <th>名称(中文)</th>
                                    <td><input type="text" ng-model="item.Description" class="form-control" /></td>
                                </tr>
                                <tr>
                                    <th>品牌 *</th>
                                    <td><input type="text" ng-model="item.Brand" class="form-control" /></td>
                                    <th>HS编码 *</th>
                                    <td>
                                        <div class="form-group">
                                            <div ng-class="(item.HSCode?'col-sm-12':'col-sm-6')">
                                                <select ng-model="item.HSCode" ng-options="i.Code as i.Name group by i.Category for i in model.CommonHSCodes" class="form-control">
                                                    <option value="">&lt; - 其他HS编码 - &gt;</option>
                                                </select>
                                            </div>
                                            <div ng-class="(!item.HSCode?'col-sm-6':'')">
                                                <input type="text" ng-model="item.OtherHSCode" class="form-control" placeholder="其他HS编码，必填" ng-show="!item.HSCode" />
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>规格型号 *</th>
                                    <td><input type="text" class="form-control" ng-model="item.Spec" /></td>
                                    <th>制造国代码 *</th>
                                    <td>
                                        <select ng-model="item.ManufacturerCountry" ng-options="c.Code as c.CnName for c in model.Countries" class="form-control"></select>
                                    </td>
                                </tr>
                                <tr>
                                    <th>商品货号</th>
                                    <td><input type="text" ng-model="item.Code" class="form-control" /></td>
                                    <th>商品备案号 *</th>
                                    <td><input type="text" ng-model="item.CiqCode" class="form-control" /></td>
                                </tr>
                                <tr>
                                    <th>生产日期</th>
                                    <td><input type="text" ng-model="item.ManufacturerDate" class="form-control" ng-mousedown="itemClickHandler($event)" /></td>
                                    <th>保质期 *</th>
                                    <td><input type="text" ng-model="item.ExpiryDate" class="form-control" ng-mousedown="itemClickHandler($event)" /></td>
                                </tr>
                                <tr>
                                    <th>批次号 *</th>
                                    <td><input type="text" ng-model="item.BatchNo" class="form-control" maxlength="100" /></td>
                                    <th>数量/包装 *</th>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-sm-6">
                                                <input type="number" ng-model="item.Quantity" min="0" class="form-control" />
                                            </div>
                                            <div class="col-sm-6">
                                                <select ng-model="item.Package" class="form-control">
                                                    <option value="罐装">罐装</option>
                                                    <option value="瓶装">瓶装</option>
                                                    <option value="袋装">袋装</option>
                                                    <option value="盒装">盒装</option>
                                                </select>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr ng-show="show_c_102">
                                    <th>品质检验</th>
                                    <td><div class="checkbox"><label><input type="checkbox" ng-model="item.C102" />是否检查</label></div></td>
                                    <th><span ng-show="item.C102"> 检测项目 *</span></th>
                                    <td><input type="text" ng-show="item.C102" ng-model="item.C102Comment" class="form-control" /></td>
                                </tr>
                            </table>
                        </div>
                        <button type="button" ng-click="additem()"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> 添加商品</button>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">运输方式</label>
                    <div class="col-sm-10">
                        <div class="radio">
                            <label><input type="radio" ng-model="model.Application.ShippingMethod" value="A" ng-click="check_A();" /> 空运</label>
                            <label><input type="radio" ng-model="model.Application.ShippingMethod" value="O" ng-click="check_O();" /> 海运</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">运输总数量 *</label>
                    <div class="col-sm-5">
                        <input type="number" ng-model="model.Application.TotalUnits" class="form-control" min="0" placeholder="运输总数量" />
                    </div>
                    <div class="col-sm-5"><p class="form-control-static">{{unit}}</p></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">运输总重量</label>
                    <div class="col-sm-5">
                        <input type="number" ng-model="model.Application.TotalWeight" class="form-control" min="0" placeholder="运输总重量" />
                    </div>
                    <div class="col-sm-5"><p class="form-control-static">KG</p></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">计划发货日期</label>
                    <div class="col-sm-10">
                        <input type="text" ng-model="model.Application.ShippingDate" class="form-control datetimepicker" placeholder="计划发货日期" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">预约检查日期 *</label>
                    <div class="col-sm-10">
                        <input type="text" ng-model="model.Application.InspectionDate" class="form-control datetimepicker" placeholder="yyyy-MM-dd" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">检验地点 *</label>
                    <div class="col-sm-10">
                        <input type="text" ng-model="model.Application.InspectionAddr" class="form-control" placeholder="检验地点" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">发货港口 *</label>
                    <div ng-class="(!model.Application.LoadingPort ? 'col-sm-5':'col-sm-10')">
                        <select ng-model="model.Application.LoadingPort" ng-options="i.Code as i.CnName group by i.Country for i in model.LoadingPorts" class="form-control">
                            <option value="">&lt; - 其他港口 - &gt;</option>
                        </select>
                    </div>
                    <div ng-class="(!model.Application.LoadingPort ? 'col-sm-5':'')">
                        <input type="text" ng-model="model.Application.OtherLoadingPort" class="form-control" placeholder="其他港口，必填" ng-show="!model.Application.LoadingPort" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">目的港口 *</label>
                    <div ng-class="(!model.Application.DestPort ? 'col-sm-5':'col-sm-10')">
                        <select ng-model="model.Application.DestPort" ng-options="i.Code as i.CnName group by i.Country for i in model.DestPorts" class="form-control">
                            <option value="">&lt; - 其他港口 - &gt;</option>
                        </select>
                    </div>
                    <div ng-class="(!model.Application.DestPort ? 'col-sm-5':'')">
                        <input type="text" ng-model="model.Application.OtherDestPort" class="form-control" placeholder="其他港口，必填" ng-show="!model.Application.DestPort" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">航空运单号/提单号</label>
                    <div class="col-sm-10">
                        <input type="text" ng-model="model.Application.Billno" class="form-control" placeholder="提货单" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">副提货单</label>
                    <div class="col-sm-10">
                        <input type="text" ng-model="model.Application.OtherBillno" class="form-control" placeholder="副提货单" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">船舶/航班/火车/汽车号</label>
                    <div class="col-sm-10">
                        <input type="text" ng-model="model.Application.Vesselcn" class="form-control" placeholder="船名" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">出发日期</label>
                    <div class="col-sm-10">
                        <input type="text" ng-model="model.Application.Voyage" class="form-control datetimepicker" placeholder="出发日期" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button class="btn btn-default" ng-click="submit()">
                            <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> 提交
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>