@using Giqci.Chapi.Models.App
@using Giqci.PublicWeb.Extensions
@using Giqci.PublicWeb.Models
@using Ktech.Extensions
@using Newtonsoft.Json
@model Giqci.Chapi.Models.App.Application
@{
    Layout = null;
    var token = string.Format("token={0}", DateTime.Now.Date.Ticks);
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>打印申请</title>
    <style type="text/css">
        table.gridtable {
            font-family: verdana,arial,sans-serif;
            font-size: 12px;
            color: #333333;
            border-width: 1px;
            border-color: #666666;
            border-collapse: collapse;
        }

            table.gridtable th {
                border-width: 1px;
                padding: 2px;
                border-style: solid;
                border-color: #666666;
                background-color: #dedede;
            }

            table.gridtable td {
                border-width: 1px;
                padding: 2px;
                border-style: solid;
                border-color: #666666;
                background-color: #ffffff;
            }

        table.gridnone {
            font-family: verdana,arial,sans-serif;
            font-size: 12px;
            color: #333333;
            border: none;
        }

            table.gridnone th {
                border-width: 1px;
                padding: 2px;
                border-style: none;
                border-color: #666666;
                background-color: #ffffff;
            }

            table.gridnone td {
                border-width: 1px;
                padding: 2px;
                border-style: none;
                border-color: #666666;
                background-color: #ffffff;
            }
    </style>
</head>
<body ng-app="giqci">
    <table ng-controller="ViewAppController" class="gridtable" style="width: 100%;">
        <colgroup>
            <col width="10%" />
            <col width="40%" />
            <col width="10%" />
            <col width="40%" />
        </colgroup>
        <tbody>
            <tr>
                <td>申请号:</td>
                <td colspan="3">{{model.Application.Key}}</td>
            </tr>
            <tr>
                <td>证书类别:</td>
                <td colspan="3">
                    <span ng-if="model.Application.C101">溯源证书</span>
                    <span ng-if="model.Application.C102">品质证书</span>
                    <span ng-if="model.Application.C103">标签证书</span>
                </td>
            </tr>
            <tr>
                <td>商业目的:</td>
                <td colspan="3">
                    {{model.Application.TradeType == 4?"一般贸易":"电商贸易"}}
                </td>
            </tr>
            <tr>
                <td>创建日期:</td>
                <td colspan="3">
                    {{model.Application.CreateDate | date:'yyyy/MM/dd'}}
                </td>
            </tr>
            <tr>
                <td>当前状态:</td>
                <td colspan="3">
                    {{StatusDescription}}
                </td>
            </tr>
            <tr>
                <td valign="top">申请人:</td>
                <td colspan="3">
                    <table style="width: 100%;" class="gridnone">
                        <colgroup>
                            <col width="15%" />
                            <col width="35%" />
                            <col width="15%" />
                            <col width="35%" />
                        </colgroup>
                        <tr>
                            <td>全称:</td>
                            <td>{{model.Application.Applicant}}</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>地址:</td>
                            <td>{{model.Application.ApplicantAddr}}</td>
                        </tr>
                        <tr>
                            <td>联系人: </td>
                            <td>{{model.Application.ApplicantContact}}</td>
                        </tr>
                        <tr>
                            <td>联系电话: </td>
                            <td>{{model.Application.ApplicantPhone}}</td>
                        </tr>
                        <tr>
                            <td>
                                邮箱:
                            </td>
                            <td>
                                {{model.Application.ApplicantEmail}}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td valign="top">出口商:</td>
                <td colspan="3">
                    <table style="width: 100%;" class="gridnone">
                        <colgroup>
                            <col width="15%" />
                            <col width="35%" />
                            <col width="15%" />
                            <col width="35%" />
                        </colgroup>
                        <tr>
                            <td>全称:</td>
                            <td>{{model.Application.Exporter}}</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>地址:</td>
                            <td>{{model.Application.ExporterAddr}}</td>
                        </tr>
                        <tr>
                            <td>联系人: </td>
                            <td>{{model.Application.ExporterContact}}</td>
                        </tr>
                        <tr>
                            <td>联系电话: </td>
                            <td>{{model.Application.ExporterPhone}}</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr ng-if="model.Application.TradeType==4">
                <td valign="top">进口商:</td>
                <td colspan="3">
                    <table style="width: 100%;" class="gridnone">
                        <colgroup>
                            <col width="15%" />
                            <col width="35%" />
                            <col width="15%" />
                            <col width="35%" />
                        </colgroup>
                        <tr>
                            <td>全称:</td>
                            <td>{{model.Application.Importer}}</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>地址:</td>
                            <td>{{model.Application.ImporterAddr}}</td>
                        </tr>
                        <tr>
                            <td>联系人: </td>
                            <td>{{model.Application.ImporterContact}}</td>
                        </tr>
                        <tr>
                            <td>联系电话: </td>
                            <td>{{model.Application.ImporterPhone}}</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr ng-if="model.Application.TradeType==1">
                <td valign="top">代理进口商:</td>
                <td colspan="3">
                    <table style="width: 100%;" class="gridnone">
                        <colgroup>
                            <col width="15%" />
                            <col width="35%" />
                            <col width="15%" />
                            <col width="35%" />
                        </colgroup>
                        <tr>
                            <td>全称:</td>
                            <td>{{model.Application.Importer}}</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>地址:</td>
                            <td>{{model.Application.ImporterAddr}}</td>
                        </tr>
                        <tr>
                            <td>联系人: </td>
                            <td>{{model.Application.ImporterContact}}</td>
                        </tr>
                        <tr>
                            <td>联系电话: </td>
                            <td>{{model.Application.ImporterPhone}}</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td valign="top">商品资料</td>
                <td colspan="3">
                    <div ng-repeat="item in model.Application.ApplicationProducts">
                        <table style="width: 100%;" class="gridnone">
                            <colgroup>
                                <col width="15%" />
                                <col width="35%" />
                                <col width="15%" />
                                <col width="35%" />
                            </colgroup>
                            <tr>
                                <td>
                                    商品 {{$index+1}}
                                </td>
                                <td colspan="3"></td>
                            </tr>
                            <tr>
                                <td>
                                    常用商品
                                </td>
                                <td colspan="3">
                                    {{item.CiqCode}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    名称(英文)
                                </td>
                                <td>
                                    {{item.DescriptionEn}}
                                </td>
                                <td>
                                    名称(中文)
                                </td>
                                <td>
                                    {{item.Description}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    品牌
                                </td>
                                <td>
                                    {{item.Brand}}
                                </td>
                                <td>
                                    包装
                                </td>
                                <td>
                                    {{item.Package}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    规格
                                </td>
                                <td>
                                    {{item.Spec}}
                                </td>
                                <td>
                                    原产国
                                </td>
                                <td>
                                    <span ajax-label ajax-url="countries" ng-model="item.ManufacturerCountry">{{item.ManufacturerCountry}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    HS编码
                                </td>
                                <td>
                                    <span ajax-label ajax-url="commonhscodes" ng-model="item.HSCode">{{item.HSCode}}</span>
                                </td>
                                <td>
                                    制造商
                                </td>
                                <td>
                                    {{item.Manufacturer}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    数量
                                </td>
                                <td>
                                    {{item.Quantity}}
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr ng-if="model.Application.C102">
                                <td>
                                    品质检验
                                </td>
                                <td>
                                    {{item.C102?'是':'否'}}
                                </td>
                                <td>
                                    <span ng-if="item.C102">检测项目</span>
                                </td>
                                <td>
                                    <span ng-if="item.C102">{{item.C102Comment}}</span>
                                </td>
                            </tr>
                        </table>
                        <!--批次-->
                        <div ng-repeat="batch in item.ProductItemList">
                            <table style="width: 100%;" class="gridnone">
                                <colgroup>
                                    <col width="15%" />
                                    <col width="35%" />
                                    <col width="15%" />
                                    <col width="35%" />
                                </colgroup>
                                <tr>
                                    <td>
                                        批次号
                                    </td>
                                    <td>
                                        {{batch.BatchNo}}
                                    </td>
                                    <td>
                                        保质期
                                    </td>
                                    <td>
                                        {{batch.ExpiryDate|date:'yyyy/MM/dd'}}
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <!--end批次-->
                        <!--真知码-->
                        <table style="width: 100%;" class="gridnone">
                            <colgroup>
                                <col width="15%" />
                                <col width="35%" />
                                <col width="15%" />
                                <col width="35%" />
                            </colgroup>
                            <tr ng-repeat="zcode in item.ApplicationZCodes">
                                <td>
                                    首码
                                </td>
                                <td>
                                    {{zcode.ZCodeStart}}
                                </td>
                                <td>
                                    尾码
                                </td>
                                <td>
                                    {{zcode.ZCodeEnd}}
                                </td>
                            </tr>
                        </table>
                        <!--end真知码-->
                    </div>
                </td>
            </tr>
            <tr>
                <td>运输方式</td>
                <td colspan="3">
                    <span ng-if="model.Application.ShippingMethod==1">空运</span>
                    <span ng-if="model.Application.ShippingMethod==2">海运</span>
                    <span ng-if="model.Application.ShippingMethod==3">陆运</span>
                </td>
            </tr>
            <tr ng-if="model.Application.ShippingMethod === 2">
                <td valign="top">
                    船舶资料
                </td>
                <td colspan="3">
                    <div ng-repeat="item in model.Application.ContainerInfos">
                        <table style="width: 100%;" class="gridnone">
                            <colgroup>
                                <col width="15%" />
                                <col width="35%" />
                                <col width="15%" />
                                <col width="35%" />
                            </colgroup>
                            <tr>
                                <td>装箱信息{{$index+1}}</td>
                                <td colspan="3"></td>
                            </tr>
                            <tr>
                                <td>装箱号</td>
                                <td>{{item.ContainerNumber}}</td>
                                <td>铅封号</td>
                                <td>{{item.SealNumber}}</td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    提单号
                </td>
                <td colspan="3">
                    {{model.Application.BillNo}}
                </td>
            </tr>
            <tr>
                <td>
                    副提单号
                </td>
                <td colspan="3">
                    {{model.Application.OtherBillNo}}
                </td>
            </tr>
            <tr>
                <td>
                    <span ng-if="model.Application.ShippingMethod == 1">航班号</span>
                    <span ng-if="model.Application.ShippingMethod == 2">船舶号</span>
                    <span ng-if="model.Application.ShippingMethod == 3">车牌号</span>
                </td>
                <td colspan="3">
                    {{model.Application.Vesselcn}}
                </td>
            </tr>
            <tr>
                <td>
                    出发日期
                </td>
                <td colspan="3">
                    {{model.Application.Voyage}}
                </td>
            </tr>
            <tr ng-if="model.Application.ShippingMethod != 2">
                <td>运输总数量</td>
                <td colspan="3">{{model.Application.TotalUnits}}Pallets</td>
            </tr>
            <tr>
                <td>运输总重量</td>
                <td colspan="3">{{model.Application.TotalWeight | currency:"":2}}KG</td>
            </tr>
            <tr>
                <td>计划发货日期</td>
                <td colspan="3">{{model.Application.ShippingDate | date:'yyyy/MM/dd'}}</td>
            </tr>

            <tr>
                <td>预约检查日期</td>
                <td colspan="3">{{model.Application.InspectionDate | date:'yyyy/MM/dd'}}</td>
            </tr>
            <tr>
                <td>检验地点</td>
                <td colspan="3">{{model.Application.InspectionAddr}}</td>
            </tr>
            <tr>
                <td>联系人</td>
                <td colspan="3">{{model.Application.Inspector}}</td>
            </tr>
            <tr>
                <td>联系人电话</td>
                <td colspan="3">{{model.Application.InspectorTel}}</td>
            </tr>
            <tr>
                <td>发货港口</td>
                <td colspan="3">
                    <span ajax-label ajax-url="ports" ng-model="model.Application.LoadingPort">{{model.Application.LoadingPort}}</span>
                </td>
            </tr>
            <tr>
                <td>目的港口</td>
                <td colspan="3">
                    <span ajax-label ajax-url="ports" ng-model="model.Application.LoadingPort">{{model.Application.LoadingPort}}</span>
                </td>
            </tr>
        </tbody>
    </table>
    <script src="~/Global/js/jquery-2.1.4.min.js"></script>
    <script src="~/Global/js/angular-1.4.7.min.js"></script>
    <script src="~/Global/js/service.js?@token"></script>
    <script src="~/Global/js/app.js?@token"></script>
    <script src="~/Global/js/directive.js?@token"></script>
    <script src="~/Scripts/giqci.js?@token"></script>
    <script src="~/Scripts/jquery.form.js?@token"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.1.0.js"></script>
    <script src="~/Global/js/jquery.jqprint-0.3.js"></script>
    <script type="text/javascript">
        var app = angular.module("giqci");
        app.controller('ViewAppController', [
            '$scope', function ($scope) {
                $scope.model = {};
                $scope.model.Application = ObjDecodeToJson(@HtmlExtensions.RawJson(Model));
                $scope.StatusDescription = "@Model.Status.ToDescription()";
                $scope.ShippingMethodDescription = "@Model.ShippingMethod.ToDescription()";
                $scope.IsPrint = "@ViewBag.IsPrint" == "True";
            }
        ]);
        function print() {
            //$("#print").jqprint();
        }
    </script>
</body>
</html>
