@{
    ViewBag.Title = "真知码申请列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div ng-controller="ZcodeApplyListController">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">真知码申请列表</h3>
        </div>
        <div class="panel-body">
            <ul class="note">
                <li><a class="btn btn-primary btn-sm" href="/forms/zcodeapply">申请真知码</a></li>
            </ul>
            <table class="table table-striped table-layout-fixed">
                <colgroup>
                    <col width="250">
                    <col>
                    <col width="200">
                </colgroup>
                <thead>
                    <tr>
                        <th>真知码类型</th>
                        <th>真知码数量</th>
                        <th>申请时间</th>
                    </tr>
                </thead>
                <tr ng-repeat="zcodeApply in ZcodeApplyList">
                    <td>{{zcodeApply.ZcodeType=='EntityCode'?"实体码":"电子码"}}</td>
                    <td class="td-ellipsis">{{zcodeApply.Count}}</td>
                    <td>{{zcodeApply.ApplyTime| date:'yyyy/MM/dd hh:mm'}}</td>
                </tr>
                <tfoot>
                    <tr>
                        <td colspan="3">
                            <div class="page-list">
                                <ul class="pagination">
                                    <li ng-click="Paging.FirstPage()">
                                        <span>首页</span>
                                    </li>
                                    <li ng-class="{disabled:!Paging.CanPrev}" ng-click="Paging.PrevPage()">
                                        <span>上一页</span>
                                    </li>
                                    <li class="disabled">
                                        <span>第{{Paging.pageIndex}}页</span>
                                    </li>
                                    <li ng-class="{disabled:!Paging.CanNext}" ng-click="Paging.NextPage()">
                                        <span>下一页</span>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>