<footer class="page-footer">
    <div class="row">
        <div class="col-xs-12">
            <small class="pull-left">&copy; @DateTime.Now.Year Copyright GIQCI <a class="hidden-xs hidden-sm" href="http://www.giqci.com/terms/">| 免责声明</a></small>
            <a class="pull-right" href="#top"><i class="fa fa-angle-up"></i></a>
        </div>
    </div>
</footer>