<hr />
<footer>
    <div class="row footer-widget">
        <div class="col-sm-6 col-md-6 col-lg-3">
            <h6>合作链接</h6>
            <div><a href="http://www.iqtc.cn" target="_blank"><img src="http://www.giqci.com/wp-content/uploads/2015/05/iqtc-footer.jpg" /></a></div>
            <h6>友情链接</h6>
            <div><a href="http://www.cnas.org.cn" target="_blank"><img src="http://www.giqci.com/wp-content/uploads/2015/05/cnas-small.jpg" /></a></div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3">
            <h6>我们的服务</h6>
            <ul>
                <li><a href="http://giqci.com/zh/our-services/online-country-of-origin-certifications/">跨境电商产品产地溯源保证认证</a></li>
                <li><a href="http://giqci.com/zh/our-services/inspection-services/scraps-inspection/">废物原料装船前检验</a></li>
                <li><a href="http://giqci.com/zh/our-services/inspection-services/other-inspections/">商品检验</a></li>
                <li><a href="http://giqci.com/zh/our-services/inspection-services/wine-inspections/">红酒中文标签预审核与品质预检验</a></li>
                <li><a href="http://giqci.com/zh/our-services/certification-services/">认证咨询服务</a></li>
                <li><a href="http://giqci.com/zh/our-services/registrations/">注册咨询服务</a></li>
            </ul>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3">
            <h6>联系资料</h6>
            <div>
                <p>
                    SUITE 9A<br/>
                    LEVEL 9, 33 ARGYLE STREET<br/>
                    PARRAMATTA NSW 2150 AUSTRALIA<br/>
                </p>
                <p>
                    Tel: +61 (02) 9580 5750<br/>
                    Fax: +61 (02) 9793 9533<br/>
                    Email: info@giqci.com
                </p>
            </div>
        </div>
    </div>
    <div class="footer">&copy; @DateTime.Now.Year 版权所有 - 环球质量检验公正有限公司</div>
</footer>