<header class="row visible-md visible-lg lg-header">
    <div id="logo" class="col-md-4">
        <a href="http://www.giqci.com/"> <img src="/Global/images/giqci-logo-finalised-withC.png" alt="small logo"></a>
    </div>
    <div id="lang-switch" class="col-md-4 text-center">
        <label style="cursor: pointer"><img height="15" src="~/Global/images/uk.jpg" />&nbsp;<span onclick="$giqci.ChangeLanguage('en')">English</span></label>&nbsp;&nbsp;
        <label style="cursor: pointer"><img height="15" src="~/Global/images/china.jpg" />&nbsp;<span onclick="$giqci.ChangeLanguage('cn')">简体中文</span></label>
    </div>
    <div id="search-form" class="col-md-4">
        <p class="text-right">
            <i class="glyphicon glyphicon-phone-alt"></i>&nbsp;&nbsp;Call Us 1300 001688
        </p>
        <p class="text-right">
            <i class="glyphicon glyphicon-envelope"></i>&nbsp;&nbsp;<a href="mailto:info@giqci.com">info@giqci.com</a>
        </p>
    </div>
</header>