<div class="top-holder top-shadow-section">
    <div class="navbar-bg-col">
        <nav class="navbar yamm navbar-default " role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-header-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="http://www.giqci.com/" class="navbar-brand"> <img src="/Global/images/giqci-logo-finalised-withC.png" alt="small logo"></a>

            </div>
            <div class="collapse navbar-collapse nav-header-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="http://www.giqci.com/">首页</a></li>
                    <li><a href="http://www.giqci.com/about-giqci/">关于 GIQCI</a></li>
                    <li><a href="http://www.giqci.com/accreditation/">资质</a></li>
                    <li><a href="http://www.giqci.com/partners/">合作伙伴</a></li>
                    <li><a href="http://www.giqci.com/news/">新闻</a></li>
                    <li><a href="http://www.giqci.com/contact-us/">联系我们</a></li>
                </ul>
            </div>
        </nav>
    </div>
</div>
