<div class="top-holder top-shadow-section">
    <div class="navbar-bg-col">
        <nav class="navbar yamm navbar-default " role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-header-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="http://www.giqci.com/" class="navbar-brand"> <img src="http://www.giqci.com/wp-content/uploads/2015/05/giqci-logo-finalised-withC.png" alt="small logo"></a>

            </div>
            <div class="collapse navbar-collapse nav-header-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="http://giqci.com/">首页</a></li>
                    <li><a href="http://giqci.com/zh/about-us/">关于 GIQCI</a></li>
                    <li><a href="http://giqci.com/zh/accreditation/">资质</a></li>
                    <li><a href="http://giqci.com/zh/%e5%90%88%e4%bd%9c%e4%bc%99%e4%bc%b4/">合作伙伴</a></li>
                    <li><a href="http://giqci.com/zh/latest-news/">最新消息</a></li>
                    <li><a href="http://giqci.com/zh/contact-us/">联系我们</a></li>
                </ul>
            </div>
        </nav>
    </div>
</div>
