<nav id="top-navbar" class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="true">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a id="logo-mobile" class="navbar-brand visible-xs visible-sm" href="http://www.giqci.com">
                <img src="http://www.giqci.com/wp-content/themes/giqci/img/giqci-logo.png" alt="GIQCI">
            </a>
        </div>

        <div id="navbar-collapse" class="navbar-collapse collapse" aria-expanded="true">
            <ul id="menu-top-navigation" class="nav navbar-nav">
                <li class="active"><a title="首页" href="http://www.giqci.com/">首页</a></li>
                <li class="dropdown">
                    <a title="关于我们" href="#" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true">关于我们 <span class="caret"></span></a>
                    <ul role="menu" class="dropdown-menu">
                        <li><a title="关于 GIQCI" href="http://www.giqci.com/about-giqci/">关于 GIQCI</a></li>
                        <li><a title="合作伙伴" href="http://www.giqci.com/partners/">合作伙伴</a></li>
                        <li><a title="资质" href="http://www.giqci.com/accreditation/">资质</a></li>
                        <li><a title="免责声明" href="http://www.giqci.com/%e5%85%8d%e8%b4%a3%e5%a3%b0%e6%98%8e/">免责声明</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a title="我们的服务" href="#" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">我们的服务 <span class="caret"></span></a>
                    <ul role="menu" class="dropdown-menu">
                        <li><a title="跨境电商产品质量预检、溯源" href="http://www.giqci.com/%e8%b7%a8%e5%a2%83%e7%94%b5%e5%95%86%e4%ba%a7%e5%93%81%e8%b4%a8%e9%87%8f%e9%a2%84%e6%a3%80%e3%80%81%e6%ba%af%e6%ba%90/">跨境电商产品质量预检、溯源</a></li>
                        <li><a title="注册咨询服务" href="http://www.giqci.com/%e6%b3%a8%e5%86%8c%e5%92%a8%e8%af%a2%e6%9c%8d%e5%8a%a1/">注册咨询服务</a></li>
                        <li><a title="进出口产品质量检验、溯源" href="http://www.giqci.com/%e8%bf%9b%e5%87%ba%e5%8f%a3%e4%ba%a7%e5%93%81%e8%b4%a8%e9%87%8f%e6%a3%80%e9%aa%8c%e3%80%81%e6%ba%af%e6%ba%90/">进出口产品质量检验、溯源</a></li>
                        <li><a title="认证咨询服务" href="http://www.giqci.com/%e8%ae%a4%e8%af%81%e5%92%a8%e8%af%a2%e6%9c%8d%e5%8a%a1/">认证咨询服务</a></li>
                    </ul>
                </li>
                <li><a title="行业信息" href="http://www.giqci.com/%e8%a1%8c%e4%b8%9a%e4%bf%a1%e6%81%af/">行业信息</a></li>
                <li><a title="新闻" href="http://www.giqci.com/news/">新闻</a></li>
                <li><a title="联系我们" href="http://www.giqci.com/contact-us/">联系我们</a></li>
                <li class="dropdown">
                    <a title="客户专区" href="#" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true">客户专区 <span class="caret"></span></a>
                    <ul role="menu" class="dropdown-menu">
                        <li><a title="报验程序" href="/forms/app">报验程序</a></li>
                        <li><a title="常见问题" href="http://www.giqci.com/%e5%b8%b8%e8%a7%81%e9%97%ae%e9%a2%98/">常见问题</a></li>
                        <li><a title="客户投诉" href="http://www.giqci.com/%e5%ae%a2%e6%88%b7%e6%8a%95%e8%af%89/">客户投诉</a></li>
                    </ul>
                </li>
            </ul>
            @if (User.Identity.IsAuthenticated)
            {
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">欢迎， @User.Identity.Name <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/account/profile">商户资料</a></li>
                            <li><a href="/account/password">密码修改</a></li>
                            <li><a href="/forms/search">证书查询</a></li>
                            <li><a href="/account/signoff"><i class="glyphicon glyphicon-log-out"></i>&nbsp;退出</a></li>
                        </ul>
                    </li>
                </ul>
            }
            else
            {
                <ul class="nav navbar-nav navbar-right"><li><a href="/account/login">登录</a></li></ul>
            }
        </div>
    </div>
</nav>