<nav id="top-navbar" class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="true">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a id="logo-mobile" class="navbar-brand visible-xs visible-sm" href="http://www.giqci.com">
                <img src="http://www.giqci.com/wp-content/themes/giqci/img/giqci-logo.png" alt="GIQCI">
            </a>
        </div>

        <div id="navbar-collapse" class="navbar-collapse collapse" aria-expanded="true">
            <ul id="menu-top-navigation" class="nav navbar-nav">
                <li class="active"><a title="首页" href="http://www.giqci.com/">首页</a></li>
                <li class="dropdown">
                    <a title="关于我们" href="#" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true">关于我们 <span class="caret"></span></a>
                    <ul role="menu" class="dropdown-menu">
                        <li><a title="关于 GIQCI" href="http://www.giqci.com/about-giqci/">关于 GIQCI</a></li>
                        <li><a title="合作伙伴" href="http://www.giqci.com/partners/">合作伙伴</a></li>
                        <li><a title="资质" href="http://www.giqci.com/accreditation/">资质</a></li>
                        <li><a title="免责声明" href="http://www.giqci.com/terms/">免责声明</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a title="我们的服务" href="#" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">我们的服务 <span class="caret"></span></a>
                    <ul role="menu" class="dropdown-menu">
                        <li><a title="跨境电商产品质量预检、溯源" href="http://www.giqci.com/e-commerce-traceability/">跨境电商产品质量预检、溯源</a></li>
                        <li><a title="注册咨询服务" href="http://www.giqci.com/registration/">注册咨询服务</a></li>
                        <li><a title="进出口产品质量检验、溯源" href="http://www.giqci.com/import-export-traceability/">进出口产品质量检验、溯源</a></li>
                        <li><a title="认证咨询服务" href="http://www.giqci.com/import-export-traceability/">认证咨询服务</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a title="行业信息" href="#" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true">行业信息 <span class="caret"></span></a>
                    <ul role="menu" class="dropdown-menu">
                        <li><a title="行业信息" href="http://www.giqci.com/industry-news/">行业信息</a></li>
                        <li><a title="标准" href="http://www.giqci.com/standard/">标准</a></li>
                        <li><a title="政策" href="http://www.giqci.com/%E6%94%BF%E7%AD%96/">政策</a></li>
                        <li><a title="法规" href="http://www.giqci.com/la-w/">法规</a></li>
                    </ul>
                </li>
                <li><a title="新闻" href="http://www.giqci.com/news/">新闻</a></li>
                <li><a title="联系我们" href="http://www.giqci.com/contact-us/">联系我们</a></li>
                <li class="dropdown">
                    <a title="客户专区" href="#" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true">客户专区 <span class="caret"></span></a>
                    <ul role="menu" class="dropdown-menu">
                        <li><a title="报验申请" href="/forms/app" target="_self">报验申请</a></li>
                        <li><a title="常见问题" href="http://www.giqci.com/faq/" target="_self">常见问题</a></li>
                        <li><a title="客户投诉" href="http://www.giqci.com/complaint/" target="_self">客户投诉</a></li>
                        </ul>
                </li>
                <li><a title="网站更新" href="http://www.giqci.com/changelog/">网站更新</a></li>
            </ul>
            @if (User.Identity.IsAuthenticated)
            {
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">欢迎， @User.Identity.Name <span class="caret"></span></a>
                        <ul class="dropdown-menu user-nav-dropdown">
                            <li><a href="/account/profile" target="_self">商户资料</a></li>
                            <li><a href="/account/merchant" target="_self">常用商户列表</a></li>
                            <li><a href="/account/password" target="_self">密码修改</a></li>
                            @*<li><a href="/certificate/search">证书查询</a></li>*@
                            <li><a href="/forms/app" target="_self">报验申请</a></li>
                            <li><a href="/forms/list" target="_self">申请列表</a></li>
                            <li><a href="/forms/zcodeapplylist" target="_self">真知码申请列表</a></li>
                            <li><a href="/goods/list" target="_self">常用商品列表</a></li>
                            <li><a href="/account/signoff" target="_self"><i class="glyphicon glyphicon-log-out"></i>&nbsp;退出</a></li>
                        </ul>
                    </li>
                </ul>
            }
            else
            {
                <ul class="nav navbar-nav navbar-right"><li><a href="/account/login">登录</a></li></ul>
            }
        </div>
    </div>
</nav>