@using Giqci.PublicWeb.Extensions
@model Giqci.PublicWeb.Models.Account.LoginViewModel

@{
    ViewBag.Title = "Active";
}

<div class="panel panel-default" ng-controller="ForgotController">
    <div class="panel-body">
        @if (ViewBag.result)
        {
            <div role="alert" class="alert alert-dismissible alert-success">
                <button aria-label="Close" data-dismiss="alert" class="close" type="button"><span aria-hidden="true">×</span></button>
                <span>&nbsp;<a href="@LanCore.GetLanTypeUrl()/account/login">@("a_tag_go_login".KeyToWord())</a></span>
            </div>
        }
        else
        {
            <div role="alert" class="alert alert-dismissible alert-danger">
                <button aria-label="Close" data-dismiss="alert" class="close" type="button"><span aria-hidden="true">×</span></button>
                <span>@ViewBag.message</span>
            </div>
        }
    </div>
</div>
