@model Giqci.PublicWeb.Models.Account.ChangePasswordPageModel

@{
    ViewBag.Title = "更改密码";
}
<div class="panel panel-default" ng-controller="ChanagePasswordController">
    <div class="panel-heading">
        <h1 class="panel-title">修改密码</h1>
    </div>
    <div class="panel-body">
        <div role="alert" class="alert alert-dismissible alert-{{alert.type}}" ng-repeat="alert in alerts">
            <button aria-label="Close" data-dismiss="alert" ng-click="alert.close()" class="close" type="button"><span aria-hidden="true">×</span></button>
            <span ng-bind="alert.msg"></span>
        </div>
        <form name="appform" class="form-horizontal" method="post" ng-submit="submitForm(appform.$valid,user.password == user.confirm_password)" novalidate>
            <div class="form-group" ng-class="{ 'has-error' : appform.oldpassword.$error.required && !appform.oldpassword.$pristine }">
                <label class="col-sm-2 control-label">当前密码: </label>
                <div class="col-sm-10">
                    <input name="oldpassword" type="password" class="form-control" required ng-model="user.oldpassword" />
                    <small ng-show="appform.oldpassword.$error.required" class="help-block">请输入您的当前密码</small>
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : (appform.password.$error.required || appform.password.$error.minlength || appform.password.$error.maxlength) && !appform.password.$pristine }">
                <label class="col-sm-2 control-label">新密码: </label>
                <div class="col-sm-10">
                    <input name="password" type="password" class="form-control" ng-model="user.password" required ng-minlength="6" ng-maxlength="20" />
                    <small ng-show="appform.password.$error.required || appform.password.$error.minlength || appform.password.$error.maxlength" class="help-block">密码长度为6-20个字符</small>
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : user.password != user.confirm_password }">
                <label class="col-sm-2 control-label">确认密码: </label>
                <div class="col-sm-10">
                    <input name="confirm_password" type="password" class="form-control" ng-model="user.confirm_password" required />
                    <small ng-show="user.password != user.confirm_password">两次密码输入不一致</small>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-8">
                    <button class="btn btn-default" ng-click="submit()">
                        <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> 更改密码
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
