@model Giqci.PublicWeb.Models.Account.ChangePasswordPageModel

@{
    ViewBag.Title = "更改密码";
}
<div class="panel panel-default" ng-controller="ChanagePasswordController">
    <div class="panel-heading">
        <h1 class="panel-title">修改密码</h1>
    </div>
    <div class="panel-body">
        @*<div role="alert" class="alert alert-dismissible alert-{{alert.type}}" ng-repeat="alert in alerts">
            <button aria-label="Close" data-dismiss="alert" ng-click="alert.close()" class="close" type="button"><span aria-hidden="true">×</span></button>
            <span ng-bind="alert.msg"></span>
        </div>*@
        <form name="appform" class="form-horizontal" method="post" ng-submit="submitForm(appform.$valid,user.password == user.confirm_password)" novalidate>
            <div class="form-group">
                <label class="col-sm-2 control-label">当前密码 <span style="color: red;">*</span> </label>
                <div class="col-sm-8">
                    <input name="oldpassword" type="password" placeholder="请输入您的当前密码" 
                           class="form-control" required ng-model="user.oldpassword" 
                           ucc-require="密码不能为空"  submit-btn-id="passwordSubmit"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">新密码 <span style="color: red;">*</span> </label>
                <div class="col-sm-8">
                    <input name="password" type="password" placeholder="密码长度为6-20个字符"  
                           class="form-control" ng-model="user.password" required 
                           ucc-max-length="20" ucc-min-length="6"
                           submit-btn-id="passwordSubmit" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">确认密码 <span style="color: red;">*</span> </label>
                <div class="col-sm-8">
                    <input name="confirm_password" type="password" placeholder="密码长度为6-20个字符" 
                           class="form-control" ng-model="user.confirm_password" required 
                           ucc-max-length="20" ucc-min-length="6"
                           submit-btn-id="passwordSubmit"
                           ucc-validate-func="validateFun(user.password,user.confirm_password)"
                           />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-8">
                    <button id="passwordSubmit" class="btn btn-default" ng-click="submit()">
                        <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> 提交
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
