@model Giqci.PublicWeb.Models.Account.ChangePasswordPageModel

@{
    ViewBag.Title = "更改密码";
}
<script type="text/javascript">
    var app = angular.module("giqci", []);
    app.controller("ChanagePasswordController", ['$http', '$scope', '$location', function ($http, $scope, $location) {
        $scope.error = {
            result: true,
            message: ""
        }
        $scope.submitButton = ' 更改密码 ';
        $scope.submitForm = function (isValid, checkPassword) {
            if (isValid && checkPassword) {
                $scope.enableDisableButton = true;
                $scope.submitButton = '正在提交...';
                $scope.formData = {
                    oldpassword: $scope.user.oldpassword,
                    newpassword: $scope.user.password
                };
                $http.post('/api/account/chanagepassword', $scope.formData).then(function (response) {
                    if (response.data.result) {
                        window.location.href = "profile";
                    } else {
                        $scope.error = {
                            result: response.data.result,
                            message: response.data.message || "未知错误"
                        }
                        $scope.enableDisableButton = false;
                        $scope.submitButton = ' 更改密码 ';
                    }
                });
            }
        };
    }
    ]);
</script>

<div class="panel panel-default" ng-controller="ChanagePasswordController">
    <div class="panel-heading">
        <h1 class="panel-title">ChangePassword</h1>
    </div>
    <div class="panel-body">
        <div class="alert alert-danger" role="alert" ng-show="!error.result">{{error.message}}</div>
        <form name="appform" class="form-horizontal" method="post" ng-submit="submitForm(appform.$valid,user.password == user.confirm_password)" novalidate>
            <div class="form-group" ng-class="{ 'has-error' : appform.oldpassword.$error.required && !appform.oldpassword.$pristine }">
                <label class="col-sm-2 control-label">当前密码: </label>
                <div class="col-sm-10">
                    <input name="oldpassword" type="password" class="form-control" required ng-model="user.oldpassword" />
                    <small ng-show="appform.oldpassword.$error.required" class="help-block">请输入您的当前密码</small>
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : (appform.password.$error.required || appform.password.$error.minlength || appform.password.$error.maxlength) && !appform.password.$pristine }">
                <label class="col-sm-2 control-label">密码: </label>
                <div class="col-sm-10">
                    <input name="password" type="password" class="form-control" ng-model="user.password" required ng-minlength="6" ng-maxlength="20" />
                    <small ng-show="appform.password.$error.required || appform.password.$error.minlength || appform.password.$error.maxlength" class="help-block">密码长度为6-20个字符</small>
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : user.password != user.confirm_password }">
                <label class="col-sm-2 control-label">确认密码: </label>
                <div class="col-sm-10">
                    <input name="confirm_password" type="password" class="form-control" ng-model="user.confirm_password" required />
                    <small ng-show="user.password != user.confirm_password">两次密码输入不一致</small>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-8">
                    <button class="btn btn-default" ng-click="submit()">
                        <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> 更改密码
                    </button>
                    &nbsp;
                    <a href="reg" class="btn btn-link">Registration</a>
                </div>
            </div>
        </form>
    </div>
</div>
