@model Giqci.PublicWeb.Models.Account.LoginViewModel

@{
    ViewBag.Title = "Forgot";
}
<script src="~/Global/js/commalert.js"></script>
<script type="text/javascript">
    var app = angular.module("giqci", ['commonAlert']);
    app.controller("ForgotController", ['$http', '$scope', '$location', 'commAlertService', function ($http, $scope, $location, commAlertService) {
        $scope.submitButton = ' 提交 ';
        $scope.submitForm = function (isValid) {
            if (isValid) {
                $scope.enableDisableButton = true;
                $scope.submitButton = '正在提交...';
                $scope.formData = {
                    email: $scope.user.email
                };
                $http.post('/api/account/forgotpassword', $scope.formData).then(function (response) {
                    if (response.data.result) {
                        commAlertService.alertService().add('success', "您的密码已经重置，并发往您的注册邮箱，请检查。");
                    } else {
                        commAlertService.alertService().add('danger', response.data.message || "未知错误");
                    }
                    $scope.enableDisableButton = false;
                    $scope.submitButton = ' 提交 ';
                });
            }
        };
    }
    ]);
</script>

<div class="panel panel-default" ng-controller="ForgotController">
    <div class="panel-heading">
        <h1 class="panel-title">忘记密码</h1>
    </div>
    <div class="panel-body">
        <div role="alert" class="alert alert-dismissible alert-{{alert.type}}" ng-repeat="alert in alerts">
            <button aria-label="Close" data-dismiss="alert" ng-click="alert.close()" class="close" type="button"><span aria-hidden="true">×</span></button>
            <span ng-bind="alert.msg"></span>
        </div>
        <form name="appform" class="form-horizontal" method="POST" ng-submit="submitForm(appform.$valid)" novalidate>
            <div class="form-group" ng-class="{ 'has-error' : appform.email.$invalid && appform.email.$dirty }">
                <label class="col-sm-2 control-label">邮箱: </label>
                <div class="col-sm-5">
                    <input name="email" type="email" class="form-control" required ng-model="user.email" />
                    <small ng-show="appform.email.$invalid" class="help-block">请填写正确的邮箱</small>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-8">
                    <button class="btn btn-default" ng-disabled="enableDisableButton">
                        <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> {{submitButton}}
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
