@model Giqci.PublicWeb.Models.Account.LoginViewModel

@{
    ViewBag.Title = "Login";
}
<div class="panel panel-default" ng-controller="LoginController">
    <div class="panel-heading">
        <h1 class="panel-title">商户登录</h1>
    </div>
    <div class="panel-body">
        <div role="alert" class="alert alert-dismissible alert-{{alert.type}}" ng-repeat="alert in alerts">
            <button aria-label="Close" data-dismiss="alert" ng-click="alert.close()" class="close" type="button"><span aria-hidden="true">×</span></button>
            <span ng-bind="alert.msg"></span>
        </div>
        <form name="appform" class="form-horizontal" method="POST" ng-submit="submitForm(appform.$valid)" novalidate>
            <div class="form-group" ng-class="{ 'has-error' : appform.email.$invalid && appform.email.$dirty }">
                <label class="col-sm-2 control-label">邮箱: </label>
                <div class="col-sm-5">
                    <input name="email" type="email" class="form-control" required ng-model="user.email" />
                    <small ng-show="appform.email.$invalid" class="help-block">请填写正确的邮箱</small>
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : appform.password.$error.required && !appform.password.$pristine }">
                <label class="col-sm-2 control-label">密码: </label>
                <div class="col-sm-5">
                    <input name="password" type="password" class="form-control" required ng-model="user.password" />
                    <small ng-show="appform.password.$error.required" class="help-block">请输入您的密码</small>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-8">
                    <button class="btn btn-default" ng-disabled="enableDisableButton">
                        <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> {{submitButton}}
                    </button>
                    &nbsp;
                    <a href="forgot" class="btn btn-link">忘记密码？</a>
                    &nbsp;
                    <a href="reg" class="btn btn-link">商户注册</a>
                </div>
            </div>
        </form>
    </div>
</div>
