@model Giqci.PublicWeb.Models.Account.LoginViewModel

@{
    ViewBag.Title = "Login";
}
<script type="text/javascript">
    var app = angular.module("giqci", []);
    app.controller("LoginController", ['$http', '$scope', '$location', function ($http, $scope, $location) {
        $scope.error = {
            result: true,
            message: ""
        }
        $scope.submitButton = ' 登录 ';
        $scope.submitForm = function (isValid) {
            if (isValid) {
                $scope.enableDisableButton = true;
                $scope.submitButton = '正在提交...';
                $scope.formData = {
                    username: $scope.user.username,
                    password: $scope.user.password
                };
                $http.post('/api/account/login', $scope.formData).then(function (response) {
                    if (response.data.result) {
                        window.location.href = "profile";
                    } else {
                        $scope.error = {
                            result: response.data.result,
                            message: response.data.message || "未知错误"
                        }
                        $scope.enableDisableButton = false;
                        $scope.submitButton = ' 登录 ';
                    }
                });
            }
        };
    }
    ]);
</script>

<div class="panel panel-default" ng-controller="LoginController">
    <div class="panel-heading">
        <h1 class="panel-title">Login</h1>
    </div>
    <div class="panel-body">
        <div class="alert alert-danger" role="alert" ng-show="!error.result">{{error.message}}</div>
        <form name="appform" class="form-horizontal" method="POST" ng-submit="submitForm(appform.$valid)" novalidate>
            <div class="form-group" ng-class="{ 'has-error' : appform.username.$error.required && !appform.username.$pristine }">
                <label class="col-sm-2 control-label">用户名: </label>
                <div class="col-sm-10">
                    <input name="username" type="text" class="form-control" required ng-model="user.username" />
                    <small ng-show="appform.username.$error.required" class="help-block">请输入您的用户名</small>
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : appform.password.$error.required && !appform.password.$pristine }">
                <label class="col-sm-2 control-label">密码: </label>
                <div class="col-sm-10">
                    <input name="password" type="password" class="form-control" required ng-model="user.password" />
                    <small ng-show="appform.password.$error.required" class="help-block">请输入您的密码</small>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-8">
                    <button class="btn btn-default" ng-disabled="enableDisableButton">
                        <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> {{submitButton}}
                    </button>
                    &nbsp;
                    <a href="reg" class="btn btn-link">Registration</a>
                </div>
            </div>
        </form>
    </div>
</div>
