@{
    ViewBag.Title = "MerchantList";
}

<div ng-controller="MerchantListController">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">常用商户列表</h3>
        </div>
        <div class="panel-body">
            <div class="goodList-search-bar">
                <a class="btn btn-primary btn-sm" ng-click="add()">添加常用商户信息</a>
            </div>
            <table class="table table-striped table-layout-fixed">
                <colgroup>
                    <col />
                    <col />
                    <col width='140' />
                    <col width='120' />
                    <col width='140' />
                </colgroup>
                <thead>
                    <tr>
                        <th>全称</th>
                        <th>地址</th>
                        <th>联系人</th>
                        <th>联系电话</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="merchant in loadMerchantList">
                        <td class="td-ellipsis" title="{{merchant.UserName}}">{{merchant.UserName}}</td>
                        <td class="td-ellipsis" title="{{merchant.UserAddress}}">{{merchant.UserAddress}}</td>
                        <td class="td-ellipsis" title="{{merchant.UserContact}}">{{merchant.UserContact}}</td>
                        <td class="td-ellipsis" title="{{merchant.UserPhone}}">{{merchant.UserPhone}}</td>
                     <td>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-primary btn-sm" ng-click="edit(merchant.Id)">编辑</button>
                                <button type="button" class="btn btn-danger btn-sm" ng-click="remove(merchant)">删除</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <div class="modal" role="dialog" data-backdrop="static" data-keyboard="false" id="merchant-add">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title">添加常用商户信息</h5>
                </div>
                <div class="modal-body col-sm-10">
                    <form class="form-horizontal " novalidate>
                        <div role="alert" class="alert alert-dismissible alert-{{alert.type}}" ng-repeat="alert in alerts">
                            <button aria-label="Close" data-dismiss="alert" ng-click="alert.close()" class="close" type="button"><span aria-hidden="true">×</span></button>
                            <span ng-bind="alert.msg"></span>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">商户名称<span style="color: red;">*</span></label>
                            <div class="col-sm-7">
                                <input type="text" ng-model="dialogModelMerchant.UserName"  ng-class="{'input-error': UserNameErr}"
                                       class="form-control" maxlength="100" required ng-blur="validUserName(dialogModelMerchant.UserName)"
                                       ng-focus="UserNameErr=false;alreadySubmit=false;"/>
                            </div>
                            <div class="col-sm-3 input-info">
                                <span class="text-left text-red" ng-show="UserNameErr">商户名称不能为空</span>
                                <i class="glyphicon glyphicon-ok text-success" ng-show="UserNameValid"></i>
                            </div>
                        </div>
                        <div class="form-group" >
                            <label class="col-sm-2 control-label">地址 <span style="color: red;">*</span></label>
                            <div class="col-sm-7">
                                <input type="text" ng-model="dialogModelMerchant.UserAddress" ng-class="{'input-error': UserAddressErr}"
                                        class="form-control"maxlength="400" required ng-blur="validUserAddress(dialogModelMerchant.UserAddress)"
                                       ng-focus="UserAddressErr=false;alreadySubmit=false;"/>
                            </div>
                            <div class="col-sm-3 input-info">
                                <span class="text-left text-red" ng-show="UserAddressErr">商户地址不能为空</span>
                                <i class="glyphicon glyphicon-ok text-success" ng-show="UserAddressValid"></i>
                            </div>
                        </div>
                        <div class="form-group" >
                            <label class="col-sm-2 control-label">联系人 <span style="color: red;">*</span></label>
                            <div class="col-sm-7">
                                <input type="text" ng-model="dialogModelMerchant.UserContact" ng-class="{'input-error': UserContactErr}"
                                       class="form-control"maxlength="100" required ng-blur="validUserContact(dialogModelMerchant.UserContact)"
                                       ng-focus="UserContactErr=false;alreadySubmit=false;"/>
                            </div>
                            <div class="col-sm-3 input-info">
                                <span class="text-left text-red" ng-show="UserContactErr">联系人不能为空</span>
                                <i class="glyphicon glyphicon-ok text-success" ng-show="UserContactValid"></i>
                            </div>
                        </div>
                        <div class="form-group" >
                            <label class="col-sm-2 control-label">联系电话 <span style="color: red;">*</span></label>
                            <div class="col-sm-7">
                                <input type="text" ng-model="dialogModelMerchant.UserPhone" ng-class="{'input-error': UserPhoneErr}"
                                       class="form-control"maxlength="100" required ng-blur="validUserPhone(dialogModelMerchant.UserPhone)"
                                       ng-focus="UserPhoneErr=false;alreadySubmit=false;"/>
                            </div>
                            <div class="col-sm-3 input-info">
                                <span class="text-left text-red" ng-show="UserPhoneErr || dialogModelMerchant.UserPhone.$valid ">联系电话不能为空</span>
                                <i class="glyphicon glyphicon-ok text-success" ng-show="UserPhoneValid"></i>
                            </div>

                        </div>
                        
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <input type="hidden" ng-model="dialogModelMerchant.Id" />
                                <button type="submit" class="btn btn-default" ng-click="validAddMerchant()" ng-disabled="alreadySubmit">
                                    <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> 提交
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>