@model Giqci.PublicWeb.Models.Account.ChangePasswordPageModel

@{
    ViewBag.Title = "更改密码";
}

<h1>Login</h1>
@using (Html.BeginForm())
{
    <fieldset>
        <div>当前密码: @Html.PasswordFor(m => m.OldPassword)</div>
        <div>新密码: @Html.PasswordFor(m => m.NewPassword)</div>
        <div>确认密码: @Html.PasswordFor(m => m.ConfirmPassword)</div>
        <button type="submit">更改密码</button>
    </fieldset>
}