@{
    ViewBag.Title = "新增商品";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Newtonsoft.Json
@model Giqci.PublicWeb.Models.Goods.GoodsItemPageModel

<link href="~/Global/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<script src="~/Global/js/bootstrap-datetimepicker.min.js"></script>
<script src="~/Global/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
<script type="text/javascript">
    var app = angular.module("giqci", []);
    app.controller("GoodsAddController", ['$http', '$scope', '$log', '$location', '$anchorScroll', '$timeout', function ($http, $scope, $log, $location, $anchorScroll, $timeout) {
        $scope.model = @Html.Raw(JsonConvert.SerializeObject(Model));
        $(function(){
            $('.datetimepicker').datetimepicker({
                language:  'zh-CN',
                format: 'yyyy/mm/dd',
                autoclose: true,
                minView: "month",
                todayBtn: true,
            }).on("hide",function(){
                var $this = $(this);
                var _this = this;
                $scope.$apply(function(){
                    $scope[$this.attr('ng-model')] = _this.value;
                });
            });
        });
        $scope.submit = function() {
            console.log($scope.model.goods);
            $http.post('/goods/add', $scope.model.goods).then(function(response) {
                $log.log(response);
                if (response.data.result) {
                    $scope.result = response.data.result;
                } else {
                    $scope.errors = response.data.errors;
                    $location.hash("h1");
                    $anchorScroll();
                }
            }, function(response) {
                $log.warn(response);
            });
        };
    }
    ]);
</script>
<div ng-controller="GoodsAddController">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">新增商品</h3>
        </div>
        <div class="panel-body">
            <h1 ng-show="result">提交成功</h1>
            <div ng-show="!result">
                <div class="has-error" ng-show="errors.length > 0">
                    <ul class="help-block">
                        <li ng-repeat="err in errors">{{err}}</li>
                    </ul>
                </div>
                <form name="appform" class="form-horizontal" method="POST" novalidate>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">名称(英文) *</label>
                        <div class="col-sm-10">
                            <input type="text" ng-model="model.goods.DescriptionEn" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">名称(中文)</label>
                        <div class="col-sm-10">
                            <input type="text" ng-model="model.goods.Description" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">品牌 *</label>
                        <div class="col-sm-10">
                            <input type="text" ng-model="model.goods.Brand" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">HS编码 *</label>
                        <div ng-class="(model.goods.HSCode?'col-sm-10':'col-sm-5')">
                            <select ng-model="model.goods.HSCode" ng-options="i.Code as i.Name group by i.Category for i in model.CommonHSCodes" class="form-control">
                                <option value="">&lt; - 其他HS编码 - &gt;</option>
                            </select>
                        </div>
                        <div ng-class="(!model.goods.HSCode?'col-sm-5':'')">
                            <input type="text" ng-model="model.goods.OtherHSCode" class="form-control" placeholder="其他HS编码，必填" ng-show="!model.goods.HSCode" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">规格型号 *</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="model.goods.Spec" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">制造国代码 *</label>
                        <div class="col-sm-10">
                            <select ng-model="model.goods.ManufacturerCountry" ng-options="c.Code as c.CnName for c in model.Countries" class="form-control"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">商品货号</label>
                        <div class="col-sm-10">
                            <input type="text" ng-model="model.goods.Code" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">商品备案号 *</label>
                        <div class="col-sm-10">
                            <input type="text" ng-model="model.goods.CiqCode" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">生产日期</label>
                        <div class="col-sm-10">
                            <input type="text" ng-model="model.goods.ManufacturerDate" class="form-control datetimepicker" style="ime-mode:disabled" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">保质期 *</label>
                        <div class="col-sm-10">
                            <input type="text" ng-model="model.goods.ExpiryDate" class="form-control datetimepicker" style="ime-mode:disabled;" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">批次号</label>
                        <div class="col-sm-10">
                            <input type="text" ng-model="model.goods.BatchNo" class="form-control" maxlength="100" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">数量/包装 *</label>
                        <div class="col-sm-5">
                            <input type="number" ng-model="model.goods.Quantity" class="form-control" min="0" />
                        </div>
                        <div class="col-sm-5">
                            <select ng-model="model.goods.Package" class="form-control">
                                <option value="罐装">罐装</option>
                                <option value="瓶装">瓶装</option>
                                <option value="袋装">袋装</option>
                                <option value="盒装">盒装</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">质量检验</label>
                        <div ng-class="(model.goods.C102?'col-sm-2':'col-sm-6')">
                            <div class="checkbox"><label><input type="checkbox" ng-model="model.goods.C102" />是否检查</label></div>
                        </div>
                        <label ng-show="model.goods.C102" class="col-sm-2 control-label">检验内容 *</label>
                        <div ng-show="model.goods.C102" class="col-sm-6">
                            <input type="text" ng-model="model.goods.C102Comment" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button class="btn btn-default" ng-click="submit()">
                                <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> 提交
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
