@{
    ViewBag.Title = "商品列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-controller="GoodsListController">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">商品列表</h3>
        </div>
        <div class="panel-body">
            <ul class="note">
                <li>
                    <a class="btn btn-primary btn-sm" href="/goods/add">按备案号添加商品</a> &nbsp;&nbsp;<a class="btn btn-primary btn-sm" href="/goods/showcustomproduct">添加自定义商品</a>
                </li>
            </ul>
            <table class="table table-striped table-layout-fixed">
                <colgroup>
                    <col width='190'/>
                    <col width='120'/>
                    <col/>
                    <col/>
                    <col width='80'/>
                    <col width='140'/>
                    <col width='100'/>
                    <col width='100' />
                    <col width='100' />
                    <col width='120'/>
                </colgroup>
                <thead>
                <tr>
                    <th><span style="color: green">商品备案号</span>/<span style="color: orangered">自定义标识</span></th>
                    <th>HS编码</th>
                    <th>中文名</th>
                    <th>英文名</th>
                    <th>规格</th>
                    <th>品牌</th>
                    <th>制造国代码</th>
                    <th>数量/包装</th>
                    <th>制造商</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="Product in customProductList">
                    <td class="td-ellipsis" style="color: orangered" title="{{Product.Code}}">{{Product.Code}}</td>
                    <td class="td-ellipsis" title="{{Product.HsCode}}">{{Product.HsCode}}</td>
                    <td class="td-ellipsis" title="{{Product.Description}}">{{Product.Description}}</td>
                    <td class="td-ellipsis" title="{{Product.DescriptionEn}}">{{Product.DescriptionEn}}</td>
                    <td class="td-ellipsis" title="{{Product.Spec}}">{{Product.Spec}}</td>
                    <td class="td-ellipsis" title="{{Product.Brand}}">{{Product.Brand}}</td>
                    <td>{{Product.ManufacturerCountry}}</td>
                    <td>{{Product.Package}}</td>
                    <td class="td-ellipsis" title="{{Product.Manufacturer}}">{{Product.Manufacturer}}</td>
                    <td>
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-danger btn-sm" ng-click="remove2(Product.Id,$index)">删除</button>
                            <a ng-if="!Product.IsApproved" class="btn btn-primary btn-sm" href="/goods/showcustomproduct?id={{Product.Id}}">编辑</a>
                        </div>
                    </td>
                    </tr>
                <tr ng-repeat="Product in merchantProductList">
                    <td class="td-ellipsis"  style="color: green" title="{{Product.CiqCode}}">{{Product.CiqCode}}</td>
                    <td class="td-ellipsis" title="{{Product.HsCode}}">{{Product.HsCode}}</td>
                    <td class="td-ellipsis" title="{{Product.Description}}">{{Product.Description}}</td>
                    <td class="td-ellipsis" title="{{Product.DescriptionEn}}">{{Product.DescriptionEn}}</td>
                    <td class="td-ellipsis" title="{{Product.Spec}}">{{Product.Spec}}</td>
                    <td class="td-ellipsis" title="{{Product.Brand}}">{{Product.Brand}}</td>
                    <td>{{Product.ManufacturerCountry}}</td>
                    <td>{{Product.Package}}</td>
                    <td class="td-ellipsis" title="{{Product.Manufacturer}}">{{Product.Manufacturer}}</td>
                    <td>
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-danger btn-sm" ng-click="remove(Product.CiqCode,$index)">删除</button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>