@{
    ViewBag.Title = "自定义商品列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-controller="MerchantCustomProductListController">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">自定义商品列表</h3>
        </div>
        <div class="panel-body">
            <ul class="note">
                <li>
                    <a class="btn btn-primary btn-sm" href="/goods/add">按备案号添加商品</a> &nbsp;&nbsp;<a class="btn btn-primary btn-sm" href="/goods/showcustomproduct">添加自定义商品</a>
                </li>
            </ul>
       
        </div>
    </div>
</div>