@{
    ViewBag.Title = "商品列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-controller="GoodsListController">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">商品列表</h3>
        </div>
        <div class="panel-body">
            <div class="goodList-search-bar">
                    <form class="form-inline">
                        <a class="btn btn-primary btn-sm" href="/goods/add">添加备案商品</a> &nbsp;&nbsp;<a class="btn btn-primary btn-sm" href="/goods/showcustomproduct">添加非备案商品</a>
                        <input type="text" class="form-control" placeholder="请输入关键字" ng-model="keyword" />
                        <button class="btn btn-default" ng-click="search()">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span> 搜索
                        </button>
                    </form>
            </div>
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#ciqProduct" data-toggle="tab">备案商品</a>
                </li>
                <li>
                    <a href="#custProduct" data-toggle="tab">非备案商品</a>
                </li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="form-horizontal tab-pane fade in active panel-body" id="ciqProduct">
                    <div class="form-group">
                        <table class="table table-striped table-layout-fixed">
                            <colgroup>
                                <col width='200' />
                                <col width='120' />
                                <col/>
                                <col width='100' />
                                <col width='100' />
                                <col width='100' />
                                <col width='100' />
                                <col width='100' />
                                <col width='80' />
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>
                                        <span style="color: green">商品备案号<span style="font-size: 10px; color: red;">(详情请点击备案号)</span></span>
                                    </th>
                                    <th>HS编码</th>
                                    <th>名称(中文)</th>
                                    <th>名称(英文)</th>
                                    <th>规格</th>
                                    <th>品牌</th>
                                    <th>原产国</th>
                                    <th>制造商</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="Product in merchantProductList">
                                    <td class="td-ellipsis" style="color: green" title="{{Product.CiqCode}}"><a href="javascript:;" ng-click="showproduct(Product.CiqCode)">{{Product.CiqCode}}</a></td>
                                    <td class="td-ellipsis" title="{{Product.HsCode}}">{{Product.HsCode}}</td>
                                    <td class="td-ellipsis" title="{{Product.Description}}">{{Product.Description}}</td>
                                    <td class="td-ellipsis" title="{{Product.DescriptionEn}}">{{Product.DescriptionEn}}</td>
                                    <td class="td-ellipsis" title="{{Product.Spec}}">{{Product.Spec}}</td>
                                    <td class="td-ellipsis" title="{{Product.Brand}}">{{Product.Brand}}</td>
                                    <td>
                                        <span ajax-label ajax-url="countries" ng-model="Product.ManufacturerCountry">{{Product.ManufacturerCountry}}</span>
                                    </td>
                                    <td class="td-ellipsis" title="{{Product.Manufacturer}}">{{Product.Manufacturer}}</td>
                                    <td>
                                        <div class="btn-group" role="group">
                                            <button type="button" class="btn btn-danger btn-sm" ng-click="remove(Product.CiqCode,$index)">删除</button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div role="tabpanel" class="form-horizontal tab-pane fade panel-body" id="custProduct">
                    <div class="form-group">
                        <table class="table table-striped table-layout-fixed">
                            <colgroup>
                                <col width='140' />
                                <col width='120' />
                                <col/>
                                <col width='100' />
                                <col width='80' />
                                <col width='100' />
                                <col width='100' />
                                <col width='60' />
                                <col width='100' />
                                <col width='200' />
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>
                                        <span style="color: orangered">自定义标识</span>
                                    </th>
                                    <th>HS编码</th>
                                    <th>名称(中文)</th>
                                    <th>名称(英文)</th>
                                    <th>规格</th>
                                    <th>品牌</th>
                                    <th>原产国</th>
                                    <th>包装</th>
                                    <th>制造商</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="Product in customProductList">
                                    <td class="td-ellipsis" style="color: orangered" title="{{Product.Code}}">{{Product.Code}}</td>
                                    <td class="td-ellipsis" title="{{Product.HsCode}}">{{Product.HsCode}}</td>
                                    <td class="td-ellipsis" title="{{Product.Description}}">{{Product.Description}}</td>
                                    <td class="td-ellipsis" title="{{Product.DescriptionEn}}">{{Product.DescriptionEn}}</td>
                                    <td class="td-ellipsis" title="{{Product.Spec}}">{{Product.Spec}}</td>
                                    <td class="td-ellipsis" title="{{Product.Brand}}">{{Product.Brand}}</td>
                                    <td>
                                        <span ajax-label ajax-url="countries" ng-model="Product.ManufacturerCountry">{{Product.ManufacturerCountry}}</span>
                                    </td>
                                    <td>{{Product.Package}}</td>
                                    <td class="td-ellipsis" title="{{Product.Manufacturer}}">{{Product.Manufacturer}}</td>
                                    <td>
                                        <div class="btn-group pull-right" role="group">
                                            <button ng-if="Product.IsApproved" class="btn btn-default btn-sm" ng-click="lookMerchantProduct($index)">查看</button>
                                            <button ng-if="!Product.IsApproved" class="btn btn-default btn-sm" ng-click="editMerchantProduct($index)">编辑</button>
                                            <button type="button" class="btn btn-primary btn-sm" ng-click="changeProduct($index)">转为备案商品</button>
                                            <button type="button" class="btn btn-danger btn-sm" ng-click="remove2(Product.Id,$index)">删除</button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("PopUp/EditProduct")
    @Html.Partial("PopUp/ChangeProduct")
    @Html.Partial("PopUp/ProductView")
    @Html.Partial("PopUp/ViewProduct")
</div>