@{
    ViewBag.Title = "新增自定义商品";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Newtonsoft.Json
<script type="text/javascript">
    app.controller("AddCustomProductController", [
        '$http', '$scope', '$log', '$location', '$anchorScroll', '$timeout', function($http, $scope, $log, $location, $anchorScroll) {
            $scope.model = @Html.Raw(JsonConvert.SerializeObject(Model));
            $scope.result = null;
            $(function() {
                $('.datetimepicker').datetimepicker({
                    language: 'zh-CN',
                    format: 'yyyy/mm/dd',
                    autoclose: true,
                    minView: "month",
                    todayBtn: true,
                }).on("hide", function() {
                    var $this = $(this);
                    var _this = this;
                    $scope.$apply(function() {
                        $scope[$this.attr('ng-model')] = _this.value;
                    });
                });
                if ($scope.model.Id > 0) {
                    $(".panel-title").html("编辑商品");
                }
            });
            $scope.submit = function() {
                $http.post('/api/goods/addcustomproduct', $scope.model).then(function(response) {
                    $log.log(response);
                    if (response.data.result) {
                        $scope.result = response.data.result;
                    } else {
                        $scope.errors = response.data.errors;
                        $location.hash("h1");
                        $anchorScroll();
                    }
                }, function(response) {
                    $log.warn(response);
                });
            };
        }
    ]);
</script>
<div ng-controller="AddCustomProductController">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">新增商品</h3>
        </div>
        <div class="panel-body">
            <h1 ng-show="result">提交成功</h1>
            <div ng-show="!result">
                <div class="has-error" ng-show="errors.length > 0">
                    <ul class="help-block">
                        <li ng-repeat="err in errors">{{err}}</li>
                    </ul>
                </div>
                <form name="appform" class="form-horizontal" method="POST" novalidate>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">名称(英文) *</label>
                        <div class="col-sm-10">
                            <input type="text" ng-model="model.DescriptionEn" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">名称(中文)</label>
                        <div class="col-sm-10">
                            <input type="text" ng-model="model.Description" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">品牌 *</label>
                        <div class="col-sm-10">
                            <input type="text" ng-model="model.Brand" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">HS编码 *</label>
                        <div class="col-sm-10">
                            <select ng-model="model.HSCode" ng-options="i.Code as i.Name group by i.Category for i in model.CommonHSCodes" class="form-control">
                                <option value="">&lt; - 其他HS编码 - &gt;</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">规格型号 *</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="model.Spec"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">制造国代码 *</label>
                        <div class="col-sm-10">
                            <select ng-model="model.ManufacturerCountry" ng-options="c.Code as c.CnName for c in model.Countries" class="form-control"></select>
                        </div>
                    </div>
                   <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button class="btn btn-default" ng-click="submit()">
                                <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> 提交
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>